@media print {
body{padding-top: 0 !important;}
header,
footer,
#print_this_pop,
.our-channels,
.full-wide-ads,
.page-social,
.main-banner,
.hero-slider-outer,
.print_hide{display: none !important;}
.r-sidebar{display: none !important;}
}