@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
*,*:after,*:before{-webkit-box-sizing:border-box;box-sizing:border-box;}
body{font-family:'Lato', sans-serif;margin:0;padding:0;font-size:16px;}
body,html{overflow-x:hidden;-webkit-text-size-adjust:100%}
.container{max-width:1200px;margin:auto;padding:0 15px;}
.clearfix:after, .container:after, .row:after{content:"";display:block;clear:both;}
a{text-decoration:none;outline:none;}
ul{padding:0;margin:0;}
img{max-width:100%;border:none;}
iframe{border:none;}
h1,h2,h3,h4,h5,h6,b,strong,p{margin:0;}
input:not([type='radio']),
/* input:not([type='checkbox']){-webkit-appearance:none;} */
::-webkit-input-placeholder{color:#8d8d8d;font-weight:300;opacity:1}
::-moz-placeholder{color:#8d8d8d;font-weight:300;opacity:1}
:-ms-input-placeholder{color:#8d8d8d;font-weight:300;opacity:1}
:-moz-placeholder{color:#8d8d8d;font-weight:300;opacity:1}
.show1024{display:none !important;}
body{padding-top:108px;}
@media (max-width:1024px){body{padding-top:45px;}
}
.slick-dots{text-align:center;margin-bottom:25px;}
.slick-dots li{display:inline-block;background:#9B9B9B;border:none;width:6px;height:6px;border-radius:50%;text-indent:-555px;margin:3.5px;}
.slick-dots li.slick-active{background:#000;}
.slick-dots button{display:none !important;}
.header_sec{background-color:#000;color:#fff;position:fixed;left:0;top:0;width:100%;z-index:999;min-height:60px;padding-top:15px;padding-bottom:24px;-webkit-box-shadow:0px 3px 5px 0px rgba(0,0,0,0.45);box-shadow:0px 3px 5px 0px rgba(0,0,0,0.45);}
.header_sec a{text-decoration:none;color:#fff;}
.header_sec .logo{float:left;padding-top:11px;}
.header_sec .to_order{text-align:right;padding-top:7px;font-size:18px;}
.header_sec .main_menu{float:right;}
.header_sec .main_menu ul{margin-top:5px;}
.header_sec .main_menu ul>li{display:inline-block;list-style:none;padding:8px 0 6px;}
.header_sec .main_menu ul>li+li{padding-left:34px;}
.header_sec .main_menu ul>li a{padding:2px 0;border-bottom:2px solid #000000;display:block;}
.header_sec .main_menu ul>li a:hover,.header_sec .main_menu ul>li.active a{border-bottom:2px solid #F7CB00;}
@media (max-width:1024px){
	.show1024{display:block !important;}
	.hide1024{display:none !important;}
	.header_sec{min-height:auto;padding:0;height:84px;}
	.header_sec .main_menu{position:absolute;float:none;width:auto; top:35px; left:-260px;-webkit-transition:all 0.3s;transition:all 0.3s;}
	.header_sec .main_menu.active{left:0;}
	.header_sec .main_menu ul{background-color:#000;width:260px;padding-bottom:10px;margin-top:0;}
	.header_sec .main_menu ul>li{display:block;padding:0;}
	.header_sec .main_menu ul>li+li{padding:0;}
	.header_sec .main_menu ul>li a{padding:6px 10px 6px 18px;font-size:18px;}
	.header_sec .mobile_button{position:relative;}
	.header_sec .mobile_button button{position:absolute; left:100%;background-color:#000;border:none;padding:13px 15px;cursor:pointer;}
	.header_sec .mobile_button button>span{width:27px;display:block;height:5px;margin-bottom:2px;background-color:#4E4E4E;}
	.header_sec .logo{float:none;width:auto;margin:auto;padding:4px 0;max-width:90px;}
}



.i_want{ z-index: 99; color:#fff !important;font-size:22px;text-align:center;font-weight:600;display:block;max-width:400px;text-transform:uppercase;padding:25px 21px 30px;border-radius:7px;background:rgba(245,125,33,1);background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,125,33,1)), color-stop(100%, rgba(244,102,1,1)));background:-webkit-gradient(linear, left top, left bottom, from(rgba(245,125,33,1)), to(rgba(244,102,1,1)));background:linear-gradient(to bottom, rgba(245,125,33,1) 0%, rgba(244,102,1,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f57d21', endColorstr='#f46601', GradientType=0);}
.i_want>span{font-size:38px;font-weight:700;}
.i_want>img{vertical-align:text-bottom;margin:3px 0 0 8px;max-width:30px;}
#home_area.slider_sec .i_want{background:#db2d39;color:#fff !important;font-size:20px;font-weight:900; letter-spacing: 1px; padding:18px 42px; bottom:28.3%;right:8.45%; left:auto; -webkit-box-shadow:1px 1px 3px 0px rgba(0,0,0,0.25);box-shadow:1px 1px 3px 0px rgba(0,0,0,0.25);}
#home_area .i_want>img{max-width:20px;}
.slider_sec{background-color:#f3a7b9;}
.slider_sec .container{max-width:1530px;margin:0 auto;position:relative;height:750px;}
    .slider_sec .hero_img {
        max-width: 1920px;
        margin: auto;
        background: url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/Kapamilya_Fiesta_World_Web_Banner_1920x750.jpg') no-repeat center center;
        background-size: cover;
    }
.slider_sec .i_want{position:absolute;left:20.7%;bottom:30.5%;}

.i_text{font-size: 20px; color: #fff; font-weight: 400; position: absolute; left:16.45%; bottom:8.5%; max-width: 50%;}
@media only screen and (-webkit-min-device-pixel-ratio:1.25),
only screen and (min--moz-device-pixel-ratio:1.25),
only screen and (min-device-pixel-ratio:1.25),
only screen and (min-resolution:1.25dppx){
    .slider_sec .hero_img {
        background-image: url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/Kapamilya_Fiesta_World_Web_Banner_1920x750@2x.jpg');
    }
}
@media (max-width:1530px){
	.slider_sec .i_want{padding:18px 19px 23px; font-size:19px;}
	.slider_sec .i_want>img{margin:3px 0 0 0;max-width:27px;}
 
	.slider_sec .container{height:auto;padding-bottom:49.16%;}
	#home_area.slider_sec .i_want{ font-size:18px;  font-size:1.24vw;}
}

@media (max-width:1200px){
	.slider_sec .i_want>img{margin:3px 0 0 3px;max-width:20px;}
	#home_area.slider_sec .i_want{font-size:13px; font-size:1.54vw; padding:15px 15px;} 
	.i_text{font-size: 16px;}
}


@media (max-width:767px){
	.slider_sec{padding-top:4px;}
	.i_want{font-size:16px;padding:15px 10px 21px;max-width:300px;}
	.i_want>img{margin:3px 0 0 3px;max-width:20px;}
	.slider_sec .i_want{padding:20px 15px 18px;font-size:17px;background:#f36500;background:-webkit-gradient(linear, left top, left bottom, from(#f36500),to(#f55000));background:linear-gradient(to bottom, #f36500 0%,#f55000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f36500', endColorstr='#f55000',GradientType=0);}
	/*.slider_sec .container{padding:0;padding-top:1px;height:453px;}*/
	.slider_sec .container{height:auto;padding-bottom:59.16%;}
    .slider_sec .hero_img {
        background: #fff url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/Kapamilya_Fiesta_World_Web_Banner_769x463.jpg') no-repeat left center;
        background-size: cover;
    }
	#home_area.slider_sec .i_want{/* position:static;margin-top:451px;*/ padding:20px 15px 18px; left:0; bottom:-48px;border-radius:0;width:100%;max-width:100%; font-size: 17px;}
	@media only screen and (-webkit-min-device-pixel-ratio:1.25),
	only screen and (min--moz-device-pixel-ratio:1.25),
	only screen and (min-device-pixel-ratio:1.25),
	only screen and (min-resolution:1.25dppx){
        .slider_sec .hero_img {
            background-image: url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/Kapamilya_Fiesta_World_Web_Banner_769x463@2x.jpg');
        }
	}
	.i_text{left: 0; width: 100%; text-align: center; max-width: 100%; padding:0 10px;}
}
@media (max-width:480px){.slider_sec .i_want{font-size:17px;}
/* #home_area.slider_sec .container{max-height:280px;} */
#home_area.slider_sec .i_want{font-size: 15px;}

}
@media (max-width:319px){/* .slider_sec .container{height:410px;} */
.slider_sec .i_want{margin-top:408px;}
}



.everywhere_sec{background-color:#063648;color:#fff;padding:60px 0 0;text-align:center;}
.everywhere_sec h2{margin-bottom:20px;}
.everywhere_sec h4{font-size:24px;margin-bottom:63px;}
.everywhere_sec h4 a, .everywhere_sec h4 span{white-space:nowrap;}
.everywhere_sec .i_want{margin:auto;}
.everywhere_sec p{max-width:890px;margin:0 auto 50px;font-size:18px;}
.everywhere_sec a{color:#0cf;}
.video_outer{max-width:581px;margin:auto;text-align:left;}
.video_outer p{font-size:20px;margin-top:4px;}
.video_outer img{cursor:pointer;}
.video_outer iframe{width:100%;display:none;}
.everywhere_sec>.container{padding-bottom:90px;position:relative;}
.everywhere_sec>.container:after{content:"";width:0;height:0;position:absolute;top:100%;left:50%;border-top:30px solid #063648;border-left:48px solid transparent;border-right:48px solid transparent;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
@media (max-width:480px){.everywhere_sec>.container{padding-bottom:36px;}
.everywhere_sec h4{margin-bottom:40px;}
.everywhere_sec p{font-size:16px;margin:0 auto 40px;}
.everywhere_sec p i{margin-top:20px;display:block;}
.video_outer p{font-size:14px;margin:10px 0 30px;}
}
.feature_sec{background:#FFCC33;}
.feature_sec>.container{padding:43px 15px 50px;position:relative;}
.feature_sec>.container:after{content:"";width:0;height:0;position:absolute;top:100%;left:50%;border-top:30px solid #FFCC33;border-left:48px solid transparent;border-right:48px solid transparent;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.feature_sec h2{font-size:40px;text-align:center;max-width:585px;margin:0 auto 35px;}
.feature_sec{}
.feature_sec .left{float:left;width:50%;padding-right:10px;}
.feature_sec .right{float:left;width:50%;}
.feature_sec .video_outer{max-width:100%;}
.feature_sec .video_outer p{margin-top:11px;}
.feature_sec .i_want{margin:auto;}
.feature_sec .mobile{display:none;}
.feature_sec .desktab .box{width:50%;float:left;text-align:center;padding:0 30px 26px 0;font-size:20px;}
.feature_sec .desktab .box:nth-child(even){width:54%;}
.feature_sec .desktab .box:nth-child(odd){width:46%;clear:both;}
.feature_sec .box img{display:block;margin:0 auto 20px;}
@media (max-width:1200px){.feature_sec .left{width:53.5%;padding-right:0;}
.feature_sec .right{width:46.5%;padding-left:10px;}
.feature_sec .box{padding:0 15px 26px;font-size:20px;}
.feature_sec .desktab .box:nth-child(even){width:46%;}
.feature_sec .desktab .box:nth-child(odd){width:54%;}
.feature_sec .i_want{margin-top:10px;}
}
@media (max-width:1024px){.feature_sec>.container{padding:43px 15px 30px;}
.feature_sec .video_outer p{font-size:16px;}
}
@media (max-width:992px){.feature_sec h2{font-size:36px;}
.feature_sec .box{font-size:16px;}
.feature_sec .box img{max-height:90px;}
}
@media (max-width:767px){.feature_sec .left,
.feature_sec .right{width:100%;padding:0;}
.feature_sec .video_outer{max-width:583px;margin:auto;}
.feature_sec .desktab{display:none;}
.feature_sec .mobile{display:block;}
.feature_sec .box{text-align:center;}
.feature_sec .box img{max-height:none;}
}
@media (max-width:480px){.feature_sec h2{margin-bottom:23px;}
.feature_sec .box img{margin-bottom:25px;}
}

/* === package part === */
.package_sec{padding:1px 0 0;text-align:center; background-color:#fffbfa;}
.package_sec>.container{max-width:771px;position:relative;padding:0 0 20px; }
.package_sec>.container:after{content:"";width:0;height:0;position:absolute;top:100%;left:50%;border-top:30px solid #fffbfa;border-left:48px solid transparent;border-right:48px solid transparent;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.package_sec .inner{padding:49px 15px 15px;}

.package_sec h2, .package_sec h1{font-size:30px; font-weight: 900; max-width:725px;margin:0 auto 20px;padding:0 15px;}
.package_sec h3{font-size:20px; font-weight: 300;}
    .package_sec .yes {
        width: 16px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        background: url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/tick.png') no-repeat 0 0;
    }
.package_sec .no,
.package_sec .no a{color:#ccc;}
.package_sec table{width:100%;background-color:#f4b1b9; color: #BA2929; border-collapse:collapse; font-size: 18px; border: 2px solid #fffbfa; text-align: center;}
.package_sec th{font-size: 24px; border:2px solid #fffbfa; padding: 10px 15px;}
.package_sec th small{font-size: 14px; font-weight: 300; display: block;}
.package_sec td{border:2px solid #fffbfa;  padding: 0px 12px; height: 48px;}
.package_sec td small{font-size: 12px; display: block;}
/* .package_sec td:last-child, .package_sec th:last-child{background-color: #3F9D53; color: #FFF;} */
.package_sec td[rowspan="3"]{font-size: 21px;}
/* .package_sec tr:nth-child(n+3) td{text-align: left;} */
/* .package_sec tr:nth-child(2) td{padding: 0px 12px;} */
.package_sec td:nth-child(5){padding:0 !important; width: 160px;}
.package_sec td:nth-child(2){height: 48px;}
.package_sec td:nth-child(5) img{display: block;}
.package_sec table .center{text-align:center !important;}
.package_sec .highlight{background-color: #ec354b !important; color: #fff;}
    .package_sec .highlight.icon {
        background: url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/abscbn-hot.png') no-repeat 100% 50%;
    }

.package_sec .mobile td{text-align: center !important;}
.package_sec .mobile table td{background-color: #f4b1b9;}
.package_sec .mobile table:last-child td{padding:0;}
.package_sec .mobile table:last-child td:last-child{width:160px;}
.package_sec .mobile td{padding: 10px 8px;}
.package_sec .i_want{margin:30px auto;}
.package_sec .mobile{display:none;}
@media (max-width:992px){.package_sec h2{font-size:36px}
}
@media (max-width:991px){.package_sec .desktab{display:none;}
.package_sec .mobile{display:block;position:relative;}
.package_sec ul{padding-left:20px;margin:25px 0 0;}
.package_sec table.choice td{width:50%;}
.package_sec table.choice .mob_pack td{padding-left:43px !important;}
.package_sec .slick-arrow{position:absolute;top:12px;border:0;background:none;width:13px;height:24px;z-index:10;}
    .package_sec .slick-prev {
        left: 16px;
        background: url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/slide_prev.png') no-repeat 0 0;
        text-indent: -999px;
    }
    .package_sec .slick-next {
        right: 16px;
        background: url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/slide_next.png') no-repeat 0 0;
        text-indent: 999px;
    }
.package_sec .slick-disabled{display:none !important;}
}
@media (max-width:767px){
	.package_sec{padding:1px 0 0;}
	.package_sec .inner{padding-top: 79px;}
}
@media (min-width:480px){.package_sec table.choice td:first-child{width:100px;}
}
@media (max-width:480px){/* .package_sec{padding:58px 0 0;} */
.package_sec h2{margin:0 auto;padding:12px 15px;background-color:#fff;}
}





.chanal_sec{text-align:center;padding-top:71px;}
.chanal_sec>.container{padding-bottom:40px;position:relative;}
.chanal_sec>.container:after{content:"";width:0;height:0;position:absolute;top:100%;left:50%;border-top:30px solid #FFF;border-left:48px solid transparent;border-right:48px solid transparent;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.chanal_sec h2{font-size:40px;margin-bottom:17px;}
.chanal_sec .mobile{display:none;}
.chanal_sec .desktab{font-size: 0;}
.chanal_sec .desktab .box{width:25%;display:inline-block;vertical-align:top;}
.chanal_sec .box{margin-bottom:20px;padding:0 10px;}
.chanal_sec .box h4{font-size:20px;letter-spacing:-0.5px;line-height:20px;color:#252525;padding-bottom:19px;}
.chanal_sec .box p{font-size:16px;color:#8d8d8d;max-width:240px;margin:auto;}
.chanal_sec .note{font-size:12px;text-align:left;max-width:1024px;margin:auto;}
.chanal_sec .i_want{margin:32px auto 47px;}
@media (max-width:1024px){.chanal_sec .desktab .box{padding:0 5px;}
}
@media (max-width:992px){.chanal_sec h2{font-size:36px;}
.chanal_sec .desktab .box{width:33.333%;padding:0 10px;}
}
@media (max-width:767px){.chanal_sec .desktab{display:none;}
.chanal_sec .mobile{display:block;}
.chanal_sec .mobile img{margin-left:auto;margin-right:auto;}
.chanal_sec .mobile .box p{max-width:300px;}
}
@media (max-width:480px){.chanal_sec{padding-top:52px;}
.chanal_sec>.container{padding-bottom:35px;}
.chanal_sec h2{margin-bottom:0;}
.chanal_sec .box{margin-bottom:5px;}
.chanal_sec .slick-dots{margin-top:40px;}
.chanal_sec .i_want{margin-bottom:27px;}
}
.faqs_sec{background-color:#ebebeb;}
.faqs_sec>.container{padding:95px 15px 70px;position:relative;}
.faqs_sec h2{font-size:36px;padding-bottom:45px;text-transform:uppercase;text-align:center;}
.faqs_sec .faq_boxes{background-color:#FFF;max-width:1030px;margin:0 auto 25px;color:#333;}
.faqs_sec h3{font-size:24px;color:#666;max-width:1030px;margin:auto;padding-bottom:20px;}
.faq_boxes h4 {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 45px 10px 25px;
    background: url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/faq_icon.png') no-repeat 99% -570px;
    cursor: pointer;
    border-bottom: 2px solid #E8E8E8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}
.faq_boxes h4:hover{color:#0cf;background-position:99% -282px;}
.faq_boxes h4.active{background-position:99% 15px;}
.faq_boxes .box .inner{background-color:#E1E1E1;display:none;}
.faq_boxes .box .inner.active{display:block;}
.faq_boxes .box .inner>div{padding:15px 25px;}
.faq_boxes .box .inner ul,
.faq_boxes .box .inner ol{padding-left:15px;}
.faq_boxes .box .inner li{margin-bottom:12px;}
.faq_boxes .box .inner p{margin-bottom:12px;}
.faq_boxes .box .inner p:last-child{margin-bottom:0;}
.faq_boxes .box .inner a{color:#0298bd;}

.faqs_sec table{border:1px solid #999; border-collapse:collapse; width:100%; margin-bottom:20px;}
.faqs_sec table td, .faqs_sec table th{border:1px solid #999; text-align:left; padding:5px; font-size:14px;}

@media (min-width:993px){
	.faqs_sec .left_table{width:45%; float:left; padding-right:10px;}
	.faqs_sec .right_table{width:55%; float:left; padding-left:10px;}
}

@media (max-width:380px){
	.faqs_sec table td, .faqs_sec table th{font-size:12px;}
}




.contact_sec{background-color:#666666;color:#e7e7e7;padding:80px 0 0;}
.contact_sec>.container{position:relative;padding-bottom:46px;}
.contact_sec>.container:after{content:"";width:0;height:0;position:absolute;top:100%;left:50%;border-top:30px solid #666666;border-left:48px solid transparent;border-right:48px solid transparent;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.contact_sec>.container>.row{max-width:1030px;margin:auto;}
.contact_sec h2{font-size:36px;text-transform:uppercase;text-align:center;color:#fff;}
.contact_sec h4{font-size:24px;text-align:center;padding:5px 0 32px;max-width:850px;margin:auto;color:#e7e7e7;}
.contact_sec .left{float:left;width:100%;max-width:630px;}
.contact_sec .right{float:right;width:100%;max-width:330px;padding-left:30px;}
.contact_sec .left .crow{padding-bottom:30px;overflow:hidden;}
.contact_sec .left .crow1{margin:0 -6px;}
.contact_sec .left .crow>.inner{width:50%;float:left;padding:0 6px;}
.contact_sec input, .contact_sec select, .contact_sec textarea{width:100%;font-size:14px;font-weight:300;padding:14px 20px;border:1px solid #CECCCC;color:#8d8d8d;font-family:'Lato', sans-serif;border-radius:0;}
.contact_sec textarea{height:148px;}
.contact_sec select{height:50px;background:#fff !important;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:value;}
.contact_sec .require_text{font-size:14px;color:#e7e7e7;opacity:.5;display:block;margin-top:10px;}
    .contact_sec #SendSignUpForm, .contact_sec .FormButton.btn-primary {
        width: 141px;
        background: #FF6600 url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/send.png') no-repeat 80% center;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        border: 0;
        padding: 9px 20px;
        text-align: left;
        cursor: pointer;
    }
.contact_sec #SendSignUpForm:active, .contact_sec #SendSignUpForm:disabled, 
.contact_sec .FormButton.btn-primary:active, .contact_sec .FormButton.btn-primary:disabled{background-color:#898989;cursor:default;}
.contact_sec #ajax_loder{display:none;}
.contact_sec .crow6 input{width:auto;}
.contact_sec .crow6 label{vertical-align:middle;}
.checkbox_outer{position:relative;display:inline-block;vertical-align:middle;margin-right:5px;}
/* .checkbox_outer input{position:absolute;z-index:-1;visibility:hidden;left:0;top:0;}
.checkbox_outer label{width:18px;height:18px;background:#fff;display:block;cursor:pointer;border:1px solid #fff;}
    .checkbox_outer input:checked + label {
        background: #fff url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/tick_gray.png') no-repeat center center;
    } */
.contact_sec .right h3{font-size:18px;padding-bottom:4px;}
.contact_sec a{color:#0cf;}
.contact_sec .right .top{border-top:1px solid #7B7B7B;border-bottom:1px solid #7B7B7B;padding:10px 0;margin:15px 0;}
    .contact_sec .right .top p {
        padding: 6px 0 5px 28px;
        background: url('https://mytfcdev.blob.core.windows.net/cmsroot/abscms/media/IPTV/japan/images/contact_icon.png') no-repeat left 8px;
    }
.contact_sec .right .top .phone{background:none;padding-left:0;}
.contact_sec .right .top .facebook{background-position:0 -150px;}
.contact_sec .right .bottom .box{padding-bottom:25px;}
.contact_sec .right table{width:100%;margin-bottom:15px;border-collapse:collapse;}
.contact_sec .right table td{padding:0;}
.contact_sec .right table td:nth-child(2){text-align:right;}
.contact_sec .right .for_tab{display:none;}
.onlymobile{display:none;}
.form_msg{display:none;position:relative;}
.form_msg .inner{background-color:#CEFDCD;padding:10px;text-align:center;color:#000;margin-bottom:10px;border:1px solid #1A8355;color:#326400;}
.form_msg .text1{font-size:22px;}
.form_msg .close{position:absolute;right:5px;top:5px;text-align:center;padding-top:2px;background-color:#fff;border-radius:50%;width:25px;height:25px;cursor:pointer;color:#000;padding-left:2px;}
.form_msg.red>.inner, .form_msg.red2>.inner{background:#FFCDCC;border:1px solid #ff0000;color:#F50022;}


/* === T&C Page === */
.t_c_sec{padding: 0 0 30px;}
.t_c_sec>.container{max-width:1060px;}
.t_c_sec a{color:#0cf;}
.t_c_sec h1, .t_c_sec h2, .t_c_sec h3, .t_c_sec h4, .t_c_sec h5, .t_c_sec h6{ margin-bottom:15px }
.t_c_sec p, .t_c_sec ul, .t_c_sec ol, .t_c_sec table{ margin-bottom: 25px; }
.t_c_sec ul, .t_c_sec ol{padding-left:35px;}
.t_c_sec li{margin-bottom: 10px;}
.t_c_sec h1:not(:first-child), .t_c_sec h2:not(:first-child), .t_c_sec h3:not(:first-child), .t_c_sec h4:not(:first-child), .t_c_sec h5:not(:first-child), .t_c_sec h6:not(:first-child){ margin-top:35px }
.t_c_sec .table{overflow-x: auto; overflow-y: hidden;}
.t_c_sec table{border: 1px solid #ddd; border-collapse: collapse; width: 100%;}
.t_c_sec td, .t_c_sec th{border: 1px solid #ddd; padding:10px 15px; min-width: 250px;}
.t_c_sec .text-center{text-align: center;}

.t_c_sec .btn {
	display: inline-block;
	border: none;
	border-radius: 5px;
	background-color: #666;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	padding: 15px 40px;
	font-size: 100%;
	font-weight: 400 !important;
}
.t_c_sec .btn.btn-primary {
	background-color: #006BFF;
}
.t_c_sec .btn.btn-primary:hover {
	 background-color: #333; 
}
#back_top {
	opacity: 0;
	width: 45px;
	position: fixed;
	right: 20px;
	bottom: 30px;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	outline: none !important;
}
#back_top.show {
	opacity: 1;
	z-index: 1;
}


.footer_sec{background-color:#000;padding:32px 0;text-align:center;color:#666;}
.footer_sec img{padding-bottom:12px;}
.footer_sec span{white-space:nowrap;padding:0 5px;display:inline-block;}
.footer_sec span+span{border-left:1px solid #484848;}
.footer_sec a{color:#0cf; display:inline-block; margin:0 5px;}
.footer_sec a:hover{text-decoration:underline;}
.a2a_default_style{position:fixed;left:-8px;top:50%;z-index:99;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.a2a_svg, .a2a_count{border-radius:0 !important;}
.a2a_kit>a>.a2a_svg.a2a_s__default{width:40px !important;height:40px !important;line-height:40px;padding:5px;}
.a2a_mini .a2a_svg{width:20px !important;height:20px !important;line-height:20px;padding:3px;}
.a2a_default_style>a{clear:left;margin-bottom:5px;}
.a2a_default_style.a2a_follow{position:static;text-align:center;-webkit-transform:translate(0, 0);transform:translate(0, 0);}
.a2a_default_style.a2a_follow>a{clear:none;float:none;display:inline-block;margin-bottom:0;}
.a2a_default_style.a2a_follow .a2a_svg{background:none !important;height:30px !important;}
.footer_social svg{height:30px;width:30px;}
.footer_social a{padding:0 7px;display:inline-block;}
@media (max-width:991px){.contact_sec .left{width:60%;width:calc(100% - 330px);}
.contact_sec .right{width:40%;width:calc(300px + 30px);-ms-word-wrap:break-word;word-wrap:break-word;}
}
@media (max-width:767px){.contact_sec .left{width:100%;max-width:100%;float:none;margin-bottom:30px;}
.contact_sec .right{width:100%;max-width:100%;padding-left:0;float:none;}
.contact_sec .right .for_desktop{display:block;}
.contact_sec .right .for_tab{display:none;}
.onlymobile{display:inline-block;}
.onlydesktop{display:none;}
}
@media (max-width:480px){.feature_sec h2, .faqs_sec h2, .contact_sec h2, .chanal_sec h2,
.package_sec h2{font-size:24px;}
.faqs_sec h2{padding-bottom:17px;}
.faqs_sec h3{font-size:18px;text-align:center;}
.contact_sec{padding:56px 0 0;}
.contact_sec>.container{padding-left:11px;padding-right:11px;padding-bottom:29px;}
.contact_sec .left{margin-bottom:0;}
.contact_sec h4{font-size:18px;padding:20px 0 49px;}
.contact_sec .require_text{font-size:16px;}
.faqs_sec>.container{padding:50px 11px 20px;}
.faq_boxes h4{padding:17px 40px 17px 10px;border-bottom:5px solid #e8e8e8;border-top:5px solid #e8e8e8;background-position:98.5% -563px;}
.faq_boxes h4:hover{color:#0cf;background-position:98.5% -275px;}
.faq_boxes h4.active{background-position:98% 22px;}
.faq_boxes .box .inner{background-color:#EBEBEB;}
.faq_boxes .box .inner > div{padding:2px 5px 15px;}
.footer_sec{padding-bottom:70px;}
.footer_sec span{display:block;padding:6px 5px 12px;white-space:normal;}
.footer_sec span+span{border-left:0;}
.a2a_default_style{min-width:132px;left:50%;top:auto;bottom:-8px;-webkit-transform:translate(-50%, 0);transform:translate(-50%, 0);}
.a2a_default_style>a{clear:none;}
}
@media (max-width:380px){.header_sec .main_menu{left:-200px;}
.header_sec .main_menu ul{width:200px;padding-bottom:10px;}
.header_sec .main_menu ul>li a{padding:5px 8px 5px 12px;font-size:16px;}
}
@media (max-width:320px){.contact_sec .left .crow > .inner{width:100%;padding:0;}
.contact_sec .left .crow1{margin:0;}
.contact_sec .left .crow > .inner1{padding-bottom:30px;}
}
@media (max-width:300px){.header_sec .mobile_button button{padding:13px 5px;}
}
.asterisk{text-align:left;}
.mobile .asterisk{padding-left:5px;}

/*  ====================== language bar on top ============= */
.jk_language_bar{
	background-color: #fff;
	text-align: right;
	font-size: 16px;
	color: #000;
	margin:-15px 0 15px;
	height: 35px;
}
.jk_language_bar a{color: #000;}
.jk_language_bar .jk_menu>span{
	display: inline-block;
	vertical-align: middle;
}
.jk_language_bar .jk_menu>ul{
	display: inline-block;
	/* font-size: 18px; */
	vertical-align: middle;
	list-style: none;
}
.jk_language_bar .jk_menu>ul>li{
	padding:8px 27px 8px 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.jk_language_bar .jk_menu>ul>li:after{
	content: '';
	position: absolute;
	z-index: 1;
	width:0;
	height: 0;
	border-top: 7px solid #000;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	top: 50%;
	right: 5px;
	margin-top: -3px;
}
.jk_language_bar .jk_menu>ul li{
	position: relative;
}
.jk_language_bar .jk_menu ul ul{
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	width: 150px;
	background-color: #fff;
	
	z-index: 111;
}
.jk_language_bar .jk_menu li:hover>ul{
	display: block;
}
.jk_language_bar .jk_menu li li{
	border-top:1px solid #aaa;
}
.jk_language_bar .jk_menu li li a{
	display: block;
	padding:7px 15px;
	text-align: left;
	color: #000;
	text-transform: none;
}
.jk_language_bar .jk_menu li li:hover>a{
	opacity:0.5;
}
@media (max-width:1024px){
	.jk_language_bar{margin: 0;}
}
/*  ====================== language bar on top ============= */

.a2a_menu span.a2a_s_find{ left:3px !important; top:6px !important;}