.clearfix {
	clear: both;
}

.eupopup-container {
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	padding: 15px;
	font-size: 16px;
	line-height: 1.2em;
	text-align: center;
	display: none;
	z-index: 9999999;
	letter-spacing: 0.3px;
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 300px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 300px;
}

.eupopup-closebutton {
	font-size: 14px;
	font-weight: 100;
	line-height: 1;
	color: #fffff;
	filter: alpha(opacity=20);
	position: absolute;
	font-family: inherit;
	top: 0; right: 0;
	padding: 5px 10px;
}
.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #fff;
	text-decoration: none;
}

.eupopup-head {
	font-size: 18px;
	font-weight: bold;
	padding-bottom:10px;
	color: #fff;
}

.eupopup-body {
	color: #fff;
}

.eupopup-buttons {
	padding: 7px 0 5px 0;
}

.eupopup-button_2 {
	color: #fff !important;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	display: inline-block;
	background-color: #444;
	padding: 15px 35px;
}

.jk_close {
	color: #fff !important;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	display: inline-block;
	background-color: #444;
	padding: 12px 15px;
	border-radius: 50%;
	position: absolute;
	right: 0;
	top:-20px;
}

.eupopup-button {
	margin: 0 10px;
}

.eupopup-button:hover,
.eupopup-button:focus {
	text-decoration: underline;
	color: #f6a21d;
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

.eupopup-markup a:hover{
	color: #fff;
	text-decoration: none;
}

@media (min-width:768px){
	.eupopup-markup:after{
		content: '';
		display: table;
		clear: both;
	}
	.eupopup-markup{
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		padding:15px;
		
	}
	.eupopup-container .jk_left{
		float: left;
		max-width: 60%;
		text-align: left;
	}
	.eupopup-container .jk_right{
		float: right;
		max-width: 40%;
	}

	@supports (display: flex) {
		.eupopup-markup:after{
			display: none;
		}
	  .eupopup-markup{
	  	display: -webkit-flex;
	  	display: -moz-flex;
	  	display: -ms-flex;
	  	display: -o-flex;
	  	display: flex;
	  	justify-content: space-between;
	  	-ms-align-items: center;
	  	align-items: center;
	  }
		.eupopup-container .jk_left{
			max-width: none;
			
		}
		.eupopup-container .jk_right{
			max-width: none;
		}
	}
}