/* font familys for new banner / slider */
@font-face {
	font-family: 'gotham900';
	src: url('fonts/Gotham-Black.eot');
	src: url('fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Black.woff2') format('woff2'),
		url('fonts/Gotham-Black.woff') format('woff'),
		url('fonts/Gotham-Black.ttf') format('truetype'),
		url('fonts/Gotham-Black.svg#Gotham-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'gotham500';
	src: url('fonts/Gotham-Medium.eot');
	src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Medium.woff2') format('woff2'),
		url('fonts/Gotham-Medium.woff') format('woff'),
		url('fonts/Gotham-Medium.ttf') format('truetype'),
		url('fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'gotham700';
	src: url('fonts/Gotham-Bold.eot');
	src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Bold.woff2') format('woff2'),
		url('fonts/Gotham-Bold.woff') format('woff'),
		url('fonts/Gotham-Bold.ttf') format('truetype'),
		url('fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'gotham400';
	src: url('fonts/Gotham-Book.eot');
	src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/Gotham-Book.woff2') format('woff2'),
		url('fonts/Gotham-Book.woff') format('woff'),
		url('fonts/Gotham-Book.ttf') format('truetype'),
		url('fonts/Gotham-Book.svg#Gotham-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* end font familys for new banner / slider */




*,*:after,*:before{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline:none !important;}
body{font-family: 'Lato', sans-serif; margin: 0; padding:110px 0 0; font-size:16px;}
body,html{overflow-x:hidden; -webkit-text-size-adjust: 100%}
.container{max-width:1170px; margin: auto; padding:0 30px;}
.clearfix:after, .container:after{content:""; display: block; clear: both;}
a{text-decoration: none; outline:none;}
ul{padding: 0; margin: 0;}
img{max-width:100%;}
h1,h2,h3,h4,h5,h6,b,strong,p{margin: 0;}

.show768, .show992{display: none !important;}

/* === header part === */
.header_sec{background-color: #f67900; color: #fff; position: fixed; left: 0; top: 0; padding-top: 15px; padding-bottom: 24px; width: 100%; z-index:999; /*min-height:60px;*/ font-size: 17px; font-weight: 700; -webkit-box-shadow: 0px 6px 5px 0px rgba(35,31,32,0.35);
-moz-box-shadow: 0px 6px 5px 0px rgba(35,31,32,0.35);
box-shadow: 0px 6px 5px 0px rgba(35,31,32,0.35);}
.header_sec a{text-decoration: none; color: #fff;}
.header_sec .logo{float: left; padding-top: 11px;}
.header_sec .to_order{text-align: right; padding-top: 5px; font-size: 20px;}
.header_sec .to_order a{}
.header_sec .main_menu{float: right; }
.header_sec .main_menu ul>li{display: inline-block; list-style: none; padding: 8px 0 6px;}
.header_sec .main_menu ul>li+li{padding-left: 36px;}
.header_sec .main_menu ul>li a{padding:2px 0; border-bottom:2px solid #f67900; display: block;}
.header_sec .main_menu ul>li a:hover,.header_sec .main_menu ul>li.active a{border-bottom:2px solid #fff; }
.header_sec #main_menu {margin-top: 5px;}

/* === slider part === */
.slider_sec{ display: block; font-size:38px; line-height: 0.8683; color: #3a3a3a; font-family: 'gotham500'; background: #fff url('images/main-slider.jpg') no-repeat center center; display: block; width: 100%; height: 750px;}
.slider_sec .text{padding-top: 109px;}
.slider_sec .text1{font-size: 54px; color: #7ac0a8; font-family: 'gotham700'; letter-spacing: -0.02em;}
.slider_sec h1{font-size:117.16px; color: #f46a07; font-weight: 900; line-height: 1; font-family: 'gotham900'; letter-spacing: -0.02em;}
.slider_sec h2{font-size:62px; color: #3a3a3a;  line-height: 0.75; font-family: 'gotham700'; margin-bottom: 48px; letter-spacing: -0.02em;}
.slider_sec small{font-size:17px; color: #0d0d0d; font-family: 'gotham400'; letter-spacing: 0.012em; line-height: 1.1em; display: block; width: 100%; max-width: 390px;}

#I_Want_Bea{color: #fff; font-size:29px; text-align: center; font-weight: 900; font-family: lato; margin-top:1em; margin-bottom: 1.65em; display: block; max-width:400px; text-transform: uppercase; padding: 0.94em 0.5em; -webkit-border-radius: 7px;-moz-border-radius: 7px; border-radius: 7px; background: rgba(245,125,33,1);
background: -moz-linear-gradient(top, rgba(245,125,33,1) 0%, rgba(244,102,1,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,125,33,1)), color-stop(100%, rgba(244,102,1,1)));
background: -webkit-linear-gradient(top, rgba(245,125,33,1) 0%, rgba(244,102,1,1) 100%);
background: -o-linear-gradient(top, rgba(245,125,33,1) 0%, rgba(244,102,1,1) 100%);
background: -ms-linear-gradient(top, rgba(245,125,33,1) 0%, rgba(244,102,1,1) 100%);
background: linear-gradient(to bottom, rgba(245,125,33,1) 0%, rgba(244,102,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f57d21', endColorstr='#f46601', GradientType=0 );}
#I_Want_Bea>span{font-size:38px; font-weight: 700; }
#I_Want_Bea>img{vertical-align: text-top; margin-top: 3px; margin-left: 10px; max-width:30px;}

/*
@media screen and (max-width:1170px){
	.slider_sec{font-size: 2.9vw; height: auto;}
	.slider_sec .container{position: absolute; left: 4vw;}
	.slider_sec .text{padding-top: 8.5vw;}
	.slider_sec .text1{font-size: 4.25vw;}
	.slider_sec h1{font-size: 9vw;}
	.slider_sec h2{font-size: 4.2vw; margin-bottom:2vw;}
	.slider_sec small{max-width: 33.3vw; font-size: 1.4vw; letter-spacing: 0;}
	#I_Want_Bea {font-size: 2.2vw; max-width: 31.2vw; margin-bottom: 1.5em;}
	#I_Want_Bea > img {max-width: 2.6vw;}	
}

@media screen and (max-width:480px){
	.slider_sec{font-size: 3.2vw; }
	.slider_sec .container{left:0;}
	.slider_sec .text{padding-top: 9.5vw;}
	.slider_sec .text1{font-size: 4.4vw;}
	.slider_sec h1{font-size: 10vw;}
	.slider_sec h2{font-size: 4.5vw;}
	.slider_sec small{font-size: 1.6vw;}
	#I_Want_Bea {max-width: 33.5vw; margin-top: 1.75em; margin-bottom: 2.1em;}
}

@media screen and (max-width:380px){
	.slider_sec{font-size: 3.9vw; }
	.slider_sec .container{left:3vw;}
	.slider_sec .text{padding-top: 11vw;}
	.slider_sec .text1{font-size: 5.4vw;}
	.slider_sec h1{font-size: 11.7vw;}
	.slider_sec h2{font-size: 5.4vw; margin-bottom: 3vw;}
	.slider_sec small{font-size: 2vw;}
	#I_Want_Bea {max-width: 40.5vw; font-size: 2.5vw; margin-top:2em; margin-bottom: 1.5em;}
}
*/


@media screen and (max-width:1170px){
	.slider_sec{font-size:26px; font-size: 2.9vw; height: auto;}
	.slider_sec .container{position: absolute; left: 55px; left: 4vw;}
	.slider_sec .text{padding-top: 85px; padding-top: 8.5vw;}
	.slider_sec .text1{font-size: 40px; font-size: 4.25vw;}
	.slider_sec h1{font-size: 90px; font-size: 9vw;}
	.slider_sec h2{font-size: 45px; font-size: 4.8vw; margin-bottom:20px; margin-bottom:3vw;}
	.slider_sec small{max-width: 300px; max-width: 33.3vw; font-size: 14px; font-size: 1.4vw; letter-spacing: 0;}
	#I_Want_Bea {font-size: 20px; font-size: 2.2vw; max-width: 300px; max-width: 31.2vw; margin-bottom: 1.5em;}
	#I_Want_Bea > img {max-width: 20px; max-width: 2.6vw;}	
}

@media screen and (max-width:991px){
	.slider_sec{font-size:20px; font-size: 2.9vw;}
	.slider_sec .container{left: 25px; left: 4vw;}
	.slider_sec .text{padding-top: 65px; padding-top: 8.5vw;}
	.slider_sec .text1{font-size: 30px; font-size: 4.25vw;}
	.slider_sec h1{font-size: 70px; font-size: 9vw;}
	.slider_sec h2{font-size: 35px; font-size: 4.8vw;}
	.slider_sec small{max-width: 240px; max-width: 33.3vw; font-size: 12px; font-size: 1.4vw;}
	#I_Want_Bea {font-size: 17px; font-size: 2.2vw; max-width: 240px;  max-width: 31.2vw;}
	#I_Want_Bea > img {max-width: 16px; max-width: 2.6vw;}	
}

@media screen and (max-width:767px){
	.slider_sec{font-size:15px; font-size: 2.9vw;}
	.slider_sec .container{left: 0; left: 4vw;}
	.slider_sec .text{padding-top: 40px; padding-top: 8.5vw;}
	.slider_sec .text1{font-size: 23px; font-size: 4.25vw;}
	.slider_sec h1{font-size: 50px; font-size: 9vw;}
	.slider_sec h2{font-size: 28px; font-size: 4.8vw; margin-bottom: 10px; margin-bottom:3vw;}
	.slider_sec small{max-width: 160px; max-width: 33.3vw; font-size: 8px; font-size: 1.4vw;}
	#I_Want_Bea {font-size: 12px; font-size: 2.2vw; max-width: 180px; max-width: 31.2vw; }
	#I_Want_Bea > img {max-width: 12px; max-width: 2.1vw; margin-left: 5px;}	
}

@media screen and (max-width:480px){
	.slider_sec{font-size: 3.2vw; }
	.slider_sec .container{left:0;}
	.slider_sec .text{padding-top: 9.5vw;}
	.slider_sec .text1{font-size: 4.4vw;}
	.slider_sec h1{font-size: 10vw;}
	.slider_sec h2{font-size: 5vw;}
	.slider_sec small{font-size: 1.6vw;}
	#I_Want_Bea {max-width: 33.5vw; margin-top: 1em; margin-bottom: 2.1em;}
}


@media screen and (max-width:479px){
	.slider_sec{font-size: 12px; font-size: 3.2vw;}
	.slider_sec .text{padding-top: 25px; padding-top: 9.5vw;}
	.slider_sec .text1{font-size: 18px; font-size: 4.4vw;}
	.slider_sec h1{font-size: 35px; font-size: 10vw;}
	.slider_sec h2{font-size: 20px; font-size: 5vw;}
	.slider_sec small{max-width: 120px; max-width: 33.3vw;}
	#I_Want_Bea {font-size: 10px; font-size: 2.2vw; max-width: 140px; max-width: 33.5vw; }
}

@media screen and (max-width:380px){
	.slider_sec{font-size: 3.9vw; }
	.slider_sec .container{left:3vw;}
	.slider_sec .text{padding-top: 11vw;}
	.slider_sec .text1{font-size: 5.4vw;}
	.slider_sec h1{font-size: 11.7vw;}
	.slider_sec h2{font-size: 5.4vw; margin-bottom: 3.3vw;}
	.slider_sec small{font-size: 2vw;}
	#I_Want_Bea {max-width: 40.5vw; font-size: 2.5vw; margin-top:1em; margin-bottom: 1.5em;}
}

/* === package part === */
.package_sec{padding:50px 0 0; text-align: center; background-color: #f8f4ed; }
.package_sec h3{font-size:30px; color: #555555; text-transform: uppercase; max-width:940px; margin: 0 auto;}
.package_sec h4{font-size:25px; color: #555555; padding-top: 23px;}
.package_sec .row{padding:35px 0 55px;}
.package_sec .box{max-width:253px; width:100%; display: inline-block; margin:0 15px 25px;  }
.package_sec .box .top{color: #fff; font-weight: 700; padding:20px 0 12px}
.package_sec .box .text1{text-transform: uppercase; font-size:17px; margin-bottom: -6px;}
.package_sec .box .text2{font-size:60px; position:relative;}
.package_sec .box1 .top{background-color: #F87900; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);}
.package_sec .box2 .top{background-color: #b4b4b4;}
.package_sec .box3 .top{background-color: #eba631;}
.package_sec .box .bottom{border:1px solid #DDD; background-color: #F5F5F5; border-top: 0; color: #666; font-size:18px; text-align: left; padding: 5px 0; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);}
.package_sec .box .bottom p{padding:12px 16px; font-size:20px; font-weight:700;}
.package_sec .box .bottom p+p{border-top:1px solid #E8E8E8;}
.package_sec .box .a{font-size:24px; font-weight: 700; text-decoration: underline; text-transform: uppercase; color: #666; padding-top: 3px; display: block;}
.package_sec .box1 .a{color: #f60;}
.package_sec .box3 .a{color: #eba631;}
.package_sec .box:hover>a>div{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

.package_sec .new_price{position:relative;}
.package_sec .promo{font-size:11.62px; display:none !important;}
.package_sec .new_price .price:before{content:""; position:absolute; background-color:#000; width:180px; height:3px; left:50%; top:50%; -webkit-transform: rotate(-30deg)  translate(-50%, -50%); -moz-transform: rotate(-30deg) translate(-50%, -50%); -ms-transform: rotate(-30deg)  translate(-50%, -50%); -o-transform: rotate(-30deg) translate(-50%, -50%); transform: rotate(-14deg) translate(-50%, -50%); -webkit-transform-origin: 0% 0%;
-moz-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
-o-transform-origin: 0% 0%;
transform-origin: 0% 0%;  display:none !important; }
.package_sec .new_price_box{position:absolute; height:100px; right:50%; top:-20px; margin-right:94px;  z-index:1; display:none !important;}
.package_sec .new_price_box .text1{font-size:21px; margin-right:-8px; font-weight:400; text-transform:none;}
.package_sec .new_price_box .text2{font-size:51px; margin-right:-8px;}
.package_sec .new_price_box .text2 sup{font-size:31px;}
.package_sec .new_price_box .price:before{display:none;}
.package_sec .new_price_box .inner{position:relative; padding:10px 0 10px 15px;  background-color:#1B82E9;

-webkit-filter: drop-shadow(2px 3px 2px rgba(0,0,0,0.28));
		-moz-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.28));
		-ms-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.28));
		-o-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.28));
		filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.28));}
.package_sec .new_price_box .inner:after{content:""; height:100%; width:1px; position:absolute; z-index:1; top:0; left:100%; border-left:40px solid #1B82E9; border-bottom:50px solid transparent;  border-top:50px solid transparent;}
.package_sec .new_price_box .inner p{position:relative; z-index:2;}

@media only screen and (max-width:1023px) and (min-width:769px){
	.package_sec .box{max-width:225px;}
	.package_sec .box .a{font-size:21px;}
	
	.package_sec .new_price_box{height:auto; width:145px; top:auto; bottom:105%; right:auto; left:0; margin-right:0;}
	.package_sec .new_price_box .inner{padding:5px 10px 1px;}
	.package_sec .new_price_box .inner:after{height:1px; width:100%; top:100%; left:0; border-top:30px solid #1B82E9; border-left:71px solid transparent;  border-right:72px solid transparent; }
	.package_sec .new_price_box .text1, .package_sec .new_price_box .text2{margin-right:0;}
	.package_sec .new_price_box .text2{margin-bottom: -10px;}
}

@media only screen and (max-width:768px){
	.package_sec .new_price_box{display:inline-block; position:static; vertical-align:middle; margin-right:40px;}
	.old_price_box{display:inline-block; vertical-align:middle;}
}

@media only screen and (max-width:379px){
	.package_sec .new_price_box{height:auto; width:90%; margin:0 0 10px;}
	.package_sec .new_price_box .text1, .package_sec .new_price_box .text2{margin-right:0;}
	.package_sec .new_price_box .inner{padding:5px 10px;}
	.package_sec .new_price_box .inner:after{display:none;}
}

/* === chanals part === */
.chanal_sec{text-align: center; padding-top: 58px;}
.chanal_sec>.container{ padding:0 0 58px; position: relative;}
.chanal_sec h3{font-size:25px; color: #555555; padding-bottom: 55px;}
.chanal_sec .row+h3{padding-top: 51px; padding-bottom: 29px;}
.chanal_sec .box{display: inline-block; vertical-align: top; margin-bottom: 30px; padding:0 10px;}
.chanal_sec .box h4{font-size:18px; padding-top: 9px; padding-bottom: 4px;}
.chanal_sec .box p{font-size:15px; color: #595959; max-width: 240px; margin: auto;}
.chanal_sec .row1 .box{width: 25%; }
.chanal_sec .row .box+.box{margin-left: -4px;}

.chanal_sec .row2{max-width: 950px; margin:0 auto;}
.chanal_sec .row2 .box{width:33.3333%;}
.chanal_sec .row2 h4{padding-top: 4px; padding-bottom: 4px;}
.chanal_sec .note{font-size:14px; color: #313131; text-align: left; max-width: 1153px; padding:0 10px; margin:13px auto 22px;}
.chanal_sec .note2{font-size:14px; color: #888888; text-align: left; max-width: 1153px; padding:0 10px; margin:auto;}

@media screen and (max-width:768px){
	.chanal_sec .box img{display: inline-block;}
	.chanal_sec h3{padding-bottom: 25px;}
	.chanal_sec .row + h3{padding: 25px 0;}
}

/* === FAQs part === */
.faqs_sec{background-color: #E8E8E8;}
.faqs_sec>.container{padding:70px 15px 40px; position: relative;}
.faqs_sec h3{font-size:36px; padding-bottom: 25px; text-transform: uppercase; text-align: center;}
.faqs_sec .faq_boxes{background-color: #FFF; max-width:1030px; margin:0 auto 25px; color: #333;}
.faqs_sec h5{font-size:24px; color: #666; max-width:1030px; margin: auto; padding-bottom: 20px;}
.faq_boxes h4{font-size:16px; font-weight: 700; padding: 10px 45px 10px 25px; background: url('images/faq_icon.png') no-repeat 98.5% -570px; cursor: pointer; border-bottom: 2px solid #E8E8E8; transition:all 0.3s}
.faq_boxes h4:hover{color: #0cf; background-position: 98.5% -282px;}
.faq_boxes h4.active{background-position: 98.5% 15px;}
.faq_boxes .box .inner{background-color: #DDD; display: none;}
.faq_boxes .box .inner.active{display: block;}
.faq_boxes .box .inner>div{padding: 15px 25px;}
.faq_boxes .box .inner li{padding-bottom: 12px; list-style: none;}
.faq_boxes .box .inner a{color: #0298bd;}


/* === feature part === */
.feature_sec{background-color: #53C39E; color: #fff; text-align: center; padding-top:75px; }
.feature_sec>.container{padding-bottom:45px; position: relative;}
.feature_sec>.container:after{content:""; width: 0;height: 0; position: absolute; top: 100%; left: 50%; border-top:30px solid #53C39E; border-left:48px solid transparent; border-right: 48px solid transparent; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);}
.feature_sec h3{color: #fff; font-size: 40px; margin-bottom: 74px;}
.feature_sec .boxes{font-size: 0;}
.feature_sec .box{font-size: 20px; display: inline-block; width: 33.3333%; padding:0 47px; margin-bottom: 35px; vertical-align: top; outline:none !important;}
.feature_sec .box>div{width: 183px; height: 133px;  margin:0 auto 25px; background-position: 100% 100%; -webkit-background-size: cover; background-size: cover;}
.feature_sec .box:hover>div{background-position: 0 0;}
.feature_sec .box p{text-align: left;}


/* === contact part === */
.contact_sec{background-color: #6B6B6B; color: #e7e7e7; padding:82px 0 0;}
.contact_sec>.container{position: relative; padding-bottom: 30px; max-width: 1052px;}
.contact_sec>.container:after{content:""; width: 0;height: 0; position: absolute; top: 100%; left: 50%; border-top:30px solid #6B6B6B; border-left:48px solid transparent; border-right: 48px solid transparent; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%);}

.contact_sec h3{font-size:36px; text-transform: uppercase; text-align: center; color: #fff;}
.contact_sec h4{font-size:28px; font-weight:400; text-align: center; padding:5px 0 45px; max-width:890px; margin: auto;}
.contact_sec .left{float: left; width:100%; max-width:473px;}
.contact_sec .right{float: right; width:100%; max-width:500px; padding-left: 32px;}
.contact_sec .left .crow{padding-bottom: 30px; overflow:hidden;}
.contact_sec .left .crow7{padding-bottom: 10px; }
.contact_sec .left .crow1{margin: 0 -6px;}
.contact_sec .left .crow>.inner{width:50%; float: left; padding:0 6px;}
.contact_sec input, .contact_sec select, .contact_sec textarea{width: 100%; font-size:14px; font-weight: 300; padding: 15px 20px; background-color: #fff; border:1px solid #CBC9C9; color: #807f7f; font-family:inherit; -webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;}
.contact_sec textarea{height: 148px;}
.contact_sec .require_text{font-size:14px; color: #e7e7e7;}
.contact_sec #info_form_submit{width: 141px; background: #f65c00 url('images/send.png') no-repeat 80% center; color: #fff; font-size:18px; font-weight: 400; border:0; padding: 9px 20px; text-align: left; cursor: pointer;}
.contact_sec #info_form_submit:active, .contact_sec #info_form_submit:disabled{background-color: #898989; cursor: default;}
.contact_sec #ajax_loder{display: none;}

.contact_sec .right h5{font-size:18px; padding-bottom: 9px;}
.contact_sec .right .bottom h3{font-size:20px; margin-top: 20px; padding-bottom: 7px;}
.contact_sec .right a{color: #0cf;}
.contact_sec .right a:hover{color: #fff;}
.contact_sec .right .top{border-bottom:1px solid #7B7B7B; margin-bottom: 22px; max-width: 300px;}
.contact_sec .right .top p{padding: 5px 0 5px 28px; background: url('images/contact_icon.png') no-repeat left 8px;}
.contact_sec .right .top .phone{background-position: 0 -72px;}
.contact_sec .right .top .facebook{background-position: 0 -150px;}
.contact_sec .right .bottom .box{padding-bottom: 25px;}
.contact_sec .right .for_tab{display: none;}
.contact_sec .right .onlymobile{display: none; }
.contact_sec .dealers_info{overflow-x: auto;}
.contact_sec .dealers_info table{border:1px solid #B9B9B9; border-collapse:collapse; width:100%; font-size: 12px; margin-bottom: 40px;}
.contact_sec .dealers_info th{font-size: 15px; text-transform: uppercase; border:1px solid #B9B9B9;  padding:9px 11px;  text-align: left;}
.contact_sec .dealers_info td{border:1px solid #B9B9B9; padding:5px 11px; vertical-align: top; }
.contact_sec .dealers_info td a{text-decoration: underline;}
.contact_sec .dealers_info td:first-child{max-width: 150px;}
.contact_sec .dealers_info td.phone{white-space: nowrap;}
.contact_sec .dealers_info td a{max-width:100px;}


.form_msg{display: none;  position: relative; }
.form_msg .inner{background-color: #CEFDCD; padding:10px; text-align: center; color: #000; margin-bottom: 10px;  border:1px solid #1A8355; color: #326400;}
.form_msg .text1{font-size:22px; }
.form_msg .close{position: absolute; right: 5px; top: 5px; text-align: center; padding-top: 2px; background-color: #fff;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; width: 25px; height: 25px; cursor: pointer; color: #000; padding-left: 2px;}

.form_msg.red>.inner, .form_msg.red2>.inner{background: #FFCDCC; border:1px solid #ff0000; color: #F50022;}


/* === T&C Page === */
.t_c_sec{padding: 0 0 30px;}
.t_c_sec>.container{max-width:1060px;}
.t_c_sec a{color:#0cf;}
.t_c_sec h1, .t_c_sec h2, .t_c_sec h3, .t_c_sec h4, .t_c_sec h5, .t_c_sec h6{ margin-bottom:15px }
.t_c_sec p, .t_c_sec ul, .t_c_sec ol, .t_c_sec table{ margin-bottom: 25px; }
.t_c_sec ul, .t_c_sec ol{padding-left:35px;}
.t_c_sec li{margin-bottom: 10px;}
.t_c_sec h1:not(:first-child), .t_c_sec h2:not(:first-child), .t_c_sec h3:not(:first-child), .t_c_sec h4:not(:first-child), .t_c_sec h5:not(:first-child), .t_c_sec h6:not(:first-child){ margin-top:35px }
.t_c_sec .table{overflow-x: auto; overflow-y: hidden;}
.t_c_sec table{border: 1px solid #ddd; border-collapse: collapse; width: 100%;}
.t_c_sec td, .t_c_sec th{border: 1px solid #ddd; padding:10px 15px; min-width: 250px;}
.t_c_sec .text-center{text-align: center;}

.t_c_sec .btn {
	display: inline-block;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #666;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	padding: 15px 40px;
	font-size: 100%;
	font-weight: 400 !important;
}
.t_c_sec .btn.btn-primary {
	background-color: #006BFF;
}
.t_c_sec .btn.btn-primary:hover {
	 background-color: #333; 
}
#back_top {
	opacity: 0;
	width: 45px;
	position: fixed;
	right: 20px;
	bottom: 30px;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	outline: none !important;
}
#back_top.show {
	opacity: 1;
	z-index: 1;
}

/* === footer part === */
.footer_sec{background-color: #000; padding:32px 0; text-align: center; color: #666;}
.footer_sec img{padding-bottom: 12px;}
.footer_sec span{white-space: nowrap; padding: 0 5px; display: inline-block;}
.footer_sec span+span{border-left:1px solid #484848;}
.footer_sec a{color: #0cf; display: inline-block; margin:0 5px;}
.footer_sec a:hover{text-decoration: underline;}

.slick-dots{text-align:center; margin-bottom:25px;}
.slick-dots li{display:inline-block; background:#9B9B9B; border:none; width:6px; height:6px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; text-indent:-555px; margin:3.5px; padding:0 !important; cursor: pointer;}
.slick-dots li.slick-active{background:#000;}
.slick-dots button{display:none !important; }

.a2a_default_style{position: fixed; left: -8px; top: 50%; z-index: 55; -webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);}
.a2a_svg, .a2a_count { border-radius: 0 !important;}
.a2a_svg{width: 40px !important; height: 40px !important; line-height: 40px; padding: 5px;}
.a2a_mini .a2a_svg{width: 20px !important; height: 20px !important; line-height: 20px; padding: 3px;}
.a2a_default_style>a{clear: left; margin-bottom: 5px;}

.a2a_default_style.a2a_follow{position: static; text-align: center; -webkit-transform: translate(0, 0);
-moz-transform: translate(0, 0);
-ms-transform: translate(0, 0);
-o-transform: translate(0, 0);
transform: translate(0, 0);}
.a2a_default_style.a2a_follow>a{clear: none; float: none; display: inline-block; margin-bottom: 0;}
.a2a_default_style.a2a_follow .a2a_svg{background: none !important; height: 30px !important;}
.footer_social svg{height:30px; width:30px;}
.footer_social a{padding:0 7px; display:inline-block;}

.is_mobile{display: none;}


@media (max-width:1199px){
	.header_sec .main_menu ul > li + li { padding-left: 25px;}
	
	.slider_sec{padding-bottom: 58%; position: relative; -webkit-background-size: cover;background-size: cover; }
	
	.contact_sec .left{width:44%;}
	.contact_sec .right{width:56%;}
}

@media (max-width:992px){
	body{padding-top: 50px;}
	.show992{display: block !important;}
	.hide992{display: none !important;}
	.container{padding-left:15px; padding-right: 15px;}
	.header_sec{padding: 0;}
	.header_sec .main_menu{position: absolute; float: none; top: 0; left:-260px;  transition:all 0.3s;}
	.header_sec .main_menu.active{left: 0; }
	.header_sec .main_menu ul{background-color: #f67900; width:260px; padding-bottom: 10px;}
	.header_sec .main_menu ul>li{display: block; padding:0;}
	.header_sec .main_menu ul>li+li{ padding:0;}
	.header_sec .main_menu ul>li a{ padding:6px 10px 6px 18px; font-size:18px;}
	.header_sec .mobile_button{position: relative;}
	.header_sec .mobile_button button{position: absolute; left: 100%; background-color: #f67900; border:none; padding: 16px 15px 15px; cursor: pointer;}
	.header_sec .mobile_button button>span{width:27px; display: block; height: 5px; margin-bottom: 2px; background-color: #fff;}
	
	.package_sec .box{margin-left: 9px; margin-right: 9px;}
	
	.header_sec .logo{float: none; margin: auto; padding:7px 0; max-width: 90px;}
	
	.feature_sec .box{padding: 0 20px;}
	.feature_sec .box>div{width:110px; height: 80px;}
}

@media (max-width:991px){
	.contact_sec .left{width:100%; max-width:none;}
	.contact_sec .right{width:100%; max-width:none; padding:0; margin:20px 0 30px;}
}
@media (max-width:850px){
	.header_sec .main_menu ul > li a, .header_sec .to_order{font-size:15px;}
	
}

@media (max-width:768px){
	.show768{display: block !important;}
	.hide768{display: none !important;}
	.is_mobile{display: block;}

	.package_sec .row{padding-bottom: 15px;}
	.package_sec .box{max-width:none; margin-bottom: 15px;}
	
	.feature_sec .box{margin-bottom: 15px;}
	.feature_sec .box>div{width: 183px; height: 133px; }
	.feature_sec .box p{text-align: center;}
	
	.container h3{font-size:24px !important;}
	.container h4{font-size:18px;}
	
	.contact_sec .dealers_info table{font-size: 14px; margin-bottom: 15px;}
	.contact_sec .dealers_info td:first-child{font-weight: 700; text-transform: uppercase; font-size: 15px;}
	
	.faqs_sec h5{font-size: 18px !important; text-align: center;}
}

@media (max-width:650px){
	.faq_boxes h4{background-position: 97% -570px;}
	.faq_boxes h4:hover{background-position: 97% -282px;}
	.faq_boxes h4.active{background-position: 97% 15px;}

}

@media (max-width:480px){
	.slider_sec{padding-bottom: 64%;}
	
	.package_sec .box{margin:0 0 25px;}
	.package_sec h4{font-size:20px;}
	
	.faq_boxes h5{padding: 10px 40px 10px 10px;}
	.faq_boxes .box .inner > div{padding: 10px;}
	
	.footer_sec{padding-bottom: 70px;}
	.footer_sec span{display: block; padding:3px 5px; white-space: normal;}
	.footer_sec span+span{border-left:0;}
	
	.a2a_default_style{min-width: 180px; left:50%; top: auto; bottom: -8px; -webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);}
	.a2a_default_style>a{clear: none;}
}

@media (max-width:380px){
	.header_sec .main_menu{left:-200px; }
	.header_sec .main_menu ul{width:200px; padding-bottom: 10px;}
	.header_sec .main_menu ul>li a{ padding:5px 8px 5px 12px; font-size:16px;}
	
	.slider_sec{padding-bottom: 76%; background-position: 14% center;}
	
	.contact_sec .left .crow > .inner{width:100%; float:none;}
	.contact_sec .left .crow > .inner1{padding-bottom: 30px;}
}

@media (max-width:300px){
	.header_sec .mobile_button button{padding: 17px 5px;}
}